.container-fluid{
    display: flex;
    max-width: 1400px;
   
}
.card-body{
    display: flex;
    flex-direction: column;
    background: rgb(255, 202, 202);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 20;
    border-radius: 1rem;
}
